<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>FA Laundry | Home</title>
</head>
<body background="../../client/src/style/assets/laundrybg.jpg" style="background-repeat: no-repeat; background-size: cover;" !important>
    <div class="jumbotron ">
        <div class="container" style=" text-align:center;">
            <h2 style="font-family: 'Carter One'">Welcome to FA Laundry</h2>
             <p>Login to access all features <a href="/login">Login</a></p>
             
        </div>
        </div>
        <div class="container fluid" >
        </div>        
</body>
</html>